body {
    background: #d3d3d3;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.7;
    margin: 0;
    padding: 30px;
}

input[type="text"] {
    width: 400px;
    height: 30px;
    margin-bottom: 10px;
    display: block;
}

input[type="submit"] {
    width: auto;
    max-width: 1280px;
    display: block; 
}

a {
    color: #4183c4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
    font-size: 12px;
    margin: 0 2px;
    padding: 0 5px;
}

h1, h2, h3, h4 {
    font-weight: bold;
    margin: 0 0 15px;
}

h1 {
    border-bottom: 1px solid #ddd;
    font-size: 2.5em;
}

h2 {
    border-bottom: 1px solid #eee;
    font-size: 2em;
    padding: .25em 0 .25em 25px;
}

h3 {
    font-size: 1.5em;
	display: inline;
	padding: 15;
	margin: 15;
}

h4 {
    font-size: 1.2em;
}

p, ul {
    margin: 5px 0;
}

ul {
    padding-left: 30px;
}

.adminBox {
    display: flex;
    flex-flow: row;
}

.adminJobList {
    background: #add8e6;
    padding: 15px;
    margin: 0px;
    border: 2px solid #000;
    flex: 1 1 40%;
    order: 2;
    align-items: center;
    justify-content: center;
}

.adminJobForm {
    background: #fdf7ef;
    padding: 15px;
    margin: 0px;
    border: 2px solid #000;
    flex: 1 1 30%;
    order: 3;
}

.businessList {
    background: #fdf7ef;
    padding: 15px;
    margin: 0px;
    border: 2px solid #000;
    flex: 1 1 30%;
    order: 1;
}

.ListHeader {
    font-size: 230%;
}

header {
    display: block;
    margin: 0px;
    padding: 5px;
    border: 2px solid #000;
    background: #add8e6;
    font-size: 250%;
    font-weight: bold;
    text-align: center;
}

footer {
    display: block;
    margin: 0px;
    padding: 5px;
    border: 2px solid #000;
    background: #add8e6;
    font-size: 90%;
    font-weight: italic;
    text-align: left;
}

.accordion {
    cursor: pointer;
    text-align: center;
}

.accordionContainer {
    border: 2px solid #fff;
}

.divContainer {
    border: 2px solid #fff;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    padding-left: 5px;
    text-align: left;
}

.JobExportForm {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 500px;
}
